<div class="row">

	<div class="twelve columns keyword-box">

		<h4 class="container-title"> Sura Lookup </h4>

		<form ng-submit="submit()">

			<input type="text" ng-keyup="$event.keyCode == 13 && submit()" ng-change="getResults()" class="keyword-search" ng-model="sura" placeholder="113"/>

		</form>

		<p class="or"> Or </p>

		<select class="sura-dropdown" ng-change="getSura()" ng-model="selectedSura"> 
			<option value=""> Select a Sura </option>
			<option ng-repeat="sura in suraList" value="{{$index + 1}}"> {{$index + 1}} - {{sura}} </option>
		</select>

		<p class="empty-message" ng-if="showEmptyMessage"> {{emptyMessage}} </p>

	</div>

	<div class="row">

		<div class="eight columns results">

			<h4 ng-hide="results.length === 0" ng-if="sura.length > 0 || selectedSura" class="keyword-display"> Sura {{result}} - {{suraList[result - 1]}} </h4>

			<input ng-hide="results.length === 0 || showEmptyMessage" name="audio" id="english-audio" type="radio" ng-change="toggleAudio(audioLanguage)" ng-model="audioLanguage" value="English" name="English"/>

			<label ng-hide="results.length === 0 || showEmptyMessage" class="audio-label" for="english-audio"> English </label> 

			<input ng-hide="results.length === 0 || showEmptyMessage" name="audio" id="arabic-audio" type="radio" ng-change="toggleAudio(audioLanguage)" ng-model="audioLanguage" value="Arabic" name="Arabic"/>

			<label ng-hide="results.length === 0 || showEmptyMessage" class="audio-label" for="arabic-audio"> Arabic </label> 

			<br/>

			<audio controls preload="auto" class="audio-player" ng-hide="results.length === 0" ng-if="sura.length > 0 || selectedSura" type="audio/mpeg" src="{{finalAudioSrc}}"> </audio>  

			<ul class="results-list">

				<li class="result-item" ng-repeat="(key, value) in results track by $index"> 
					<p class="result-text"> 
						<span> Ayat {{key + 1}}: </span> {{value}} 
					</p> 
				</li>
			</ul>

		</div>

	</div>
</div>