
body{
	background-color: #F3F3F3;
}

.header{
	background-color: #812222;
	text-align: center;
	padding: 20px;
}

.title{
	padding: 0;
	margin: 0;
	color: white;
	margin-bottom: 10px;
}

.sub-title{
	color: white;
	padding: 0;
	margin: 0;
	font-size: .5em;
	display: inline;
}

.nav-button{
	margin-right: 5px;
	color: white;
}

.container{
	margin-top: 20px;
	max-width: 1200px;
}

.container-title{
	text-align: center;
	color: #812222;
	margin-bottom: 20px;
}

.keyword-box{
	text-align: center;
}

.keyword-search{
	width: 50%;
	max-width: 500px;
	min-width: 200px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	color: #812222;
}

.results{
	margin-top: 10px;
	padding-left: 20px;
}

.result-item{
	list-style: none;
}

.result-text{
	font-size: 1.25em;
	color: black;
	line-height: 1.3;
	padding-bottom: 3px;
}

.result-text span{
	color: #812222;;
	font-weight: bold;
}

.keyword-display{
	padding: 10px 0;
	padding-bottom: 0px;
	margin-bottom: 20px;
	color: #812222;
}

.keyword-display span{
	font-size: .75em;
	color: #812222;
}

.pages{
	margin-bottom: 20px;
	margin-top: 0px;
}

.page{
	color: #812222;;
	cursor: pointer;
	padding: 2px;
	font-size: 1.2em;
}

.page:hover{
	color: black;
	font-weight: bold;
}

.empty-message{
	margin: 0 auto;
	margin-top: 20px;
	font-size: 1.5em;
	color: #812222;
}

.audio-player{
	margin-bottom: 20px;
	max-width: 98%;
}

.submit-button{
	margin-left: 5px;
	color: #812222;
}

.keyword-search:focus{
	outline: 0;
}

.sura-dropdown{
	width: 50%;
	max-width: 500px;
	min-width: 200px;
	color: #812222;
}

.or{
	margin: 5px 0;
	color: #812222;
	font-weight: bold;
}

.button:focus{
	color: black;
  	border-color: silver;
}

.selected-button{
	color: #812222;
	background-color: white;
	border: 1px solid #812222;
}

.current-page{
	color: black;
	font-weight: bold;
}

.audio-button{
	display: block;
}

.audio-label{
	font-size: 1.15em;
	color: #812222;
	display: inline-block;
	padding-right: 5px;
	padding-left: 2px;
}

.audio-img{
	max-width: 24px;
	height: auto;
	margin-right: 5px;
}

.container{
	margin-bottom: 30px;
}

html {
  position: relative;
  min-height:100%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0px;
  color: #812222;
}

.footer-text{
	padding: 0px 5px;
	margin: 0px;
	font-weight: normal;
	text-align: center;
	color: black;
}

.footer-link{
	font-weight: bold;
	text-decoration: none;
	color: #812222;
}

@media (max-width: 800px) {

	.submit-button{
		margin-left: 0px;
		margin-top: 20px;
	}
}